
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <form name="form" class="form-validation">
        <div class="panel panel-default">
          <div class="panel-heading bg-white">
            <span class="font-bold">Register Form</span>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label>Username <em class="text-muted">(allow 'a-zA-Z0-9', 4-10 length)</em></label>
              <input type="text" class="form-control" ng-model="user.username" ng-pattern="/^[a-zA-Z0-9]{4,10}$/" required >
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" ng-model="user.email" ng-pattern="/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/" required >
            </div>
            <div class="row">
              <div class="col-sm-6 m-b">
                <label>Enter password</label>
                <input type="password" class="form-control" name="password" ng-model="user.password" required >   
              </div>
              <div class="col-sm-6 m-b">
                <label>Confirm password</label>
                <input type="password" class="form-control" name="confirm_password" required ng-model="confirm_password" ui-validate=" '$value==password' " ui-validate-watch=" 'password' ">
                <span ng-show='form.confirm_password.$error.validator'>Passwords do not match!</span>
              </div>
            </div>
            <div class="form-group">
              <label>Phone</label>
              <input type="text" class="form-control" placeholder="" ng-model="phone" ng-minlength="10" ng-maxlength="10" ng-pattern="/^[0-9]+$/" required >
            </div>
          </div>
          <footer class="panel-footer text-right">
            <button type="submit" class="btn btn-info" ng-disabled="form.$invalid">Submit</button>
          </footer>
        </div>
      </form>
    </div>
  </div>